<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Мозаики</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <script src="views/main.js" type="text/javascript"></script>
</head>
<body>
<div id="tabs_container" style="border: 1px solid gray;">
    <div style="display:block;margin:10px;margin-top:5%;text-align:center;width:100%;">
        <button id="create_new_tab">СОЗДАТЬ МОЗАИКУ</button>
    </div>
    <h1>Сохраненные мозаики</h1>
    <table>
        <thead>
        <tr>
            <td>Наименование</td>
            <td>Создана</td>
            <td>Изменена</td>
            <td>Опции</td>
        </tr>
        </thead>
        <tbody id="tabs_list"></tbody>
    </table>
</div>
<div id="edit_tab_container" style="display:none;">
    <h1>Новая мозаика</h1>
    <input type="text" placeholder="Наименование" id="title" value=""><br/><br/>
    <div id="tab_map" style="display:inline-block;overflow-y:auto;background:black;"></div>
    <input type="hidden" id="id" value="">
    <br><br>
    <button id="save">Сохранить</button>
    <button id="cancel">Отменить</button>
</div>
</body>
</html>